name: Using artifacts

env:
  FILE_NAME: my_artifact.txt

on: 
  workflow_dispatch:
jobs:
  
  job1:
      name: Generate artifact
      runs-on: ubuntu-latest
      steps:

       
        - name: checkout project
          uses: actions/checkout@v4
      
        - name: create-and-log-artifact
          run: |
              echo "this text for artifact" >> ${{ env.FILE_NAME }}
              cat ./${{ env.FILE_NAME }}
        - name: upload artifact
          uses: actions/upload-artifact@v4
          with:
            name: My_Artifact
            path: ./${{ env.FILE_NAME }}
  
  job2:
      name: download artifact
      runs-on: ubuntu-latest
      steps:

      - name: checkout projuect
        uses: actions/checkout@v4
     
      - name: artifact download
        uses: actions/download-artifact@v4
        with:
          name: My_Artifact
        
      - name: print downloaded artifact
        run: cat ./$${{ env.FILE_NAME }}
            
          
        
            

            
