name: Using artifacts

env:
  FILE_NAME: my_artifact.txt

on: 
  workflow_dispatch:
jobs:
  
  job1:
      name: Generate artifact
      runs-on: ubuntu-latest
      steps:
        - name: create-and-log-artifact
          run: |
              echo "this text for artifact" >> ${{ env.FILE_NAME }}
              cat ./${{ env.FILE_NAME }}
        - name: upload artifact
          uses: actions/upload-artifact@v4
          with:
            name: My_Artifact
            path: ./${{ env.FILE_NAME }}
  
  job2:
      name: download artifact
      runs-on: ubuntu-latest
      steps:
      
      - name: Get GitHub App token
        id: get-token
        uses: actions/create-github-app-token@v1
        with:
          owner: 'me'
          app-id: ${{ secrets.APPLICATION_ID }}
          private-key: ${{ secrets.APPLICATION_PRIVATE_KEY }}

      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          run-id: ${{ github.event.workflow_run.id }}
          github-token: ${{ github.token }}
          name: java-app
     
      - name: artifact download
        uses: actions/download-artifact@v4
        with:
          name: My_Artifact
        
      - name: print downloaded artifact
        run: cat ./$${{ env.FILE_NAME }}
            
          
        
            

            
