name: Using artifacts

env:
  FILE_NAME: my_artifact.txt

on: 
  workflow_dispatch:
jobs:
  job1:
      name: Generate artifact
      runs-on: ubuntu-latest
      steps:
        - name: create-and-log-artifact
          run: |
              echo "this text for artifact" >> ${{ env.FILE_NAME }}
              cat ./${{ env.FILE_NAME }}
        - name: upload artifact
          uses: actions/upload-artifact@v4
          with:
            name: ${{ FILE_NAME }}
            path: ./${{ FILE_NAME }} 
            

            
